.login-form .card{
    padding:0px 30px;

}

.card-title {
    border-bottom: 1px solid #80c683;
    padding:10px 0px !important;
    margin-bottom:25px!important;
}

button {
    background-color:#80c683!important;
    color:white !important;
}