
.form-list-card .card-header {
    background-color:#bc477b!important;
    color:white;
}

ul {
    margin-bottom: 0px !important;
}

.form-check-input {
    width:15px;
    height:15px;
    margin:auto;


}

.everyrow {
    display:flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
}