<div class="row">
    <div class="col col-md-8 col-sm-12">
        <div class="row" >

            <div class="col col-12">
                <div *ngIf="formList" class="card row form-list-card">
                    <div class="card-header">
                        Your forms
                    </div>
                    <div class="card-block">
                        <ul  *ngFor="let form of formList">
                            <div class="row everyrow">
                                <div class="">
                                    <input class="form-check-input" type="checkbox" [(ngModel)]="options[form.id]"/>
                                </div>
                                <div class="col-11">
                                    <a class="list-group-item list-group-item-action" href="http://www.123contactform.com/form-{{form.id}}/{{form.name.replace(' ','-')}}" target="_blank">{{ form.name }}</a>
                                </div>
                            </div>
                        </ul>

                    </div>
                    <div class="form-group row ">
                        <div class="col-12 offset-1">
                            <button class="btn col-10" type="submit" md-raised-button (click)="deleteForms()" > Delete selected forms </button>

                        </div>

                    </div>

                </div>
            </div>

        </div>

    </div>




    <div class="col col-md-4 col-sm-12">
           <user-panel></user-panel>
    </div>

</div>



